{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
{% block main %}
    <form action="{% url 'get-keywords' %}" enctype="multipart/form-data" method="post" id="index-form">
        {% csrf_token %}
        <div class="container-fluid mb-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sdo" id="online" value="online" checked>
                        <label class="form-check-label" for="online"><a href="https://online.tusur.ru" target="_blank">online</a></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sdo" id="new-online" value="new-online">
                        <label class="form-check-label" for="new-online"><a href="https://new-online.tusur.ru" target="_blank">new-online</a></label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group mt-3">
                        <label for="cid-list" class="d-none"></label>
                        <input type="text" class="form-control" id="cid-list" name="cid-list" placeholder="" required>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" id="submit" disabled>Получить</button>
                        </div>
                        <div class="col-auto">
                            <div class="spinner-border text-primary d-none" role="status" id="spinner"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% if courses and courses|length > 0 %}
                <div class="row">
                    <div class="col-auto">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Название курса</th>
                                    <th scope="col">СДО</th>
                                    <th scope="col">Идентификатор курса</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Объем текстового содержания курса (количество слов)">Объем</th>
                                    <th scope="col">Ключевые слова</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Среднее количество вхождений на 500 слов (~A4)">N/500</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Процент вхождений слова/фразы на весь объем текста">Частоты слов, %</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                    {% with out_counter=forloop.counter keywords=course.keywords|from_json %}
                                        {% for keyword in keywords %}
                                            <tr class="{% if forloop.counter != 1 and forloop.counter != keywords|length|div:2|add:1 %}borderless{% endif %}">
                                                <td class="align-middle {% if forloop.counter == keywords|length|div:2|add:1  %}borderless{% endif %}">{% if forloop.counter == 1 %}{{ out_counter }}{% endif %}</td>
                                                <td class="align-middle {% if forloop.counter == keywords|length|div:2|add:1  %}borderless{% endif %}">{% if forloop.counter == 1 %}<a href="https://{{ course.sdo }}.tusur.ru/course/view.php?id={{ course.cid|stringformat:'d' }}" target="_blank">{{ course.name }}</a>{% endif %}</td>
                                                <td class="align-middle {% if forloop.counter == keywords|length|div:2|add:1  %}borderless{% endif %}">{% if forloop.counter == 1 %}<a href="https://{{ course.sdo }}.tusur.ru" target="_blank">{{ course.sdo }}</a>{% endif %}</td>
                                                <td class="align-middle {% if forloop.counter == keywords|length|div:2|add:1  %}borderless{% endif %}">{% if forloop.counter == 1 %}<a href="https://{{ course.sdo }}.tusur.ru/course/view.php?id={{ course.cid|stringformat:'d' }}" target="_blank">{{ course.cid }}</a>{% endif %}</td>
                                                <td class="align-middle {% if forloop.counter == keywords|length|div:2|add:1  %}borderless{% endif %}">{% if forloop.counter == 1 %}{{ keyword.words_num }}{% endif %}</td>
                                                <td class="align-middle">{{ keyword.word }}</td>
                                                <td class="align-middle">{{ keyword.average }}</td>
                                                <td class="align-middle">{{ keyword.frequency }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}