{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/visualisation.css" %}" />
    <script src="{% static "js/visualisation.js" %}"></script>
{% endblock %}
{% block main %}
    <div class="container-fluid mt-3">
        <div class="row align-items-center">
            <div class="col-1">
                <p class="text-center m-0 p-0">{{ courses_number }}</p>
            </div>
            <div class="col-auto">
                <p class="m-0 p-0">Дисциплин</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1">
                <p class="text-center m-0 p-0">{{ keywords_number }}</p>
            </div>
            <div class="col-auto">
                <p class="m-0 p-0">Ключевых слов</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col" id="graph-container">
                <div class="w-100 h-100" id="graph"></div>
            </div>
        </div>
    </div>
{% endblock %}