{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/visualisation.css" %}" />
    <script src="{% static "js/visualisation.js" %}"></script>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col" id="graph-container">
                <div class="w-100 h-100" id="graph"></div>
            </div>
        </div>
    </div>
{% endblock %}